<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go test blog</title>
    <link href="/asset/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="/asset/vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/asset/css/app.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Go test blog</a>
        </div>
    </div>
</div>
<div class="container" id="content-presenter">
    {{ yield }}
</div>
<script src="/asset/vendor/js/jquery-2.2.3.min.js"></script>
<script src="/asset/vendor/js/bootstrap.min.js"></script>
</body>
</html>