<div class="row">
    <div class="col-xs-2 col-xs-offset-2">
        <a href="/new" class="btn btn-primary">New post</a>
    </div>
    <div class="col-xs-4">
        {{ if . }}
        {{ range $key, $value := . }}
        <div class="row">
            <div class="col-xs-8">
                <h1><a href="edit/{{$key}}">{{ $value.Title }}</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">{{ $value.Content }}</div>
        </div>
        {{ end }}
        {{ else }}
        <h3>No entries, create one!</h3>
        {{ end }}
    </div>
</div>